.navbar, body, main, footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
    padding-top:0;
    padding-bottom:0;
    color: rgb(94, 94, 94) ;
    border-bottom: solid 1px gray;
}

.navbar-brand {
    background-color: rgb(128, 34, 128);
    padding: 14px 14px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: white;
}

@media only screen and (max-width:991px) {
    .navbar .container, .navbar-brand{
        display:block;
        text-align: center;
        margin-left: -20px;
        margin-right: -1rem;
    
    }
}
/* Body */
main{
    background-color:lightgray;
}

main .container{
    color:rgb(128, 34, 128);
    padding-top: 30px;
    padding-bottom: 30px;
}

body{
    background-color:lightslategray;
}

.content-box{
    background-color: white;
    padding: 30px;
}

#profilepic {
    margin-right: 10px;
}

/* Footer */
body footer{
    text-align: center;
    background-color:rgb(128, 34, 128);
    color:white;
    border-top: solid 5px;
    border-color:gray;
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: smaller;
}

.img{
    padding: 10px;
    
}


