.navbar, body, main, footer {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
    padding-top:0;
    padding-bottom:0;
    color: rgb(94, 94, 94) ;
    border-bottom: solid 1px gray;
}

.navbar-brand {
    background-color: rgb(128, 34, 128);
    padding: 14px 14px;
}

.navbar-light .navbar-brand, .navbar-light .navbar-brand:hover {
    color: white;
}

p{
    line-height: 1.5;
}

@media only screen and (max-width:991px) {
    .navbar-nav {
        flex-direction: row;
    }
    
    .navbar-nav li{
        margin:5px;
     }

    }


@media only screen and (max-width:641px) {

    .navbar {
        padding: 0;
    }
    
    .navbar-nav {
        flex-direction: row;
        justify-content: center;
    }

    .navbar-nav li{
        margin:9px;
     }

    .navbar .container{
        margin: -15%;
    }

    .navbar .container, .navbar-brand{
        display:block;
        text-align: center;
        margin: auto;
        padding: auto;
        width: 100%;
    }

    main div {
        margin: 0;
    }

    p{
        clear: both;
    }

}
/* Body */
main{
    background-color:lightgray;
}

main .container{
    color:rgb(128, 34, 128);
    padding-top: 30px;
    padding-bottom: 30px;
}

body{
    background-color:lightslategray;
}

main .container h2 {
    margin-bottom: 20px;
    border-bottom: solid 1px rgb(128, 34, 128);
}

.content-box{
    background-color: white;
    padding: 40px;
}

#profilepic {
    margin-right: 10px;
    float:left;
    width: 200px;
    height: 200px;
}

.img-thumbnail {
    margin: 20px;
    padding: 5px;
    width: 275px;
    height: 225px;

}



@media only screen and (max-width:641px) {
#profilepic {
    margin-bottom: 10px;
    margin-right: 0px;
    width: 400px;
    height: 400px;
    justify-content: center;
}

.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    width: 325px;
    height: 275px;


}
}


/* Footer */
body footer{
    text-align: center;
    background-color:rgb(128, 34, 128);
    color:white;
    border-top: solid 5px;
    border-color:gray;
    padding-top: 18px;
    padding-bottom: 12px;
    font-size: smaller;
    position: absolute;
    width: 100%;
}

.img{
    padding: 10px;
    
}


