<div class="jumbotron" align="center">
  <h1 class="display-4">Abilities & Skills</h1>
  <hr class="my-4">
  <div class="row">
    <div class="col-md-6">
   <p>HTML</p>
   <p>CSS</p>
   <p>Bootstrap Framework</p>
   <p>Bulma Framework</p>
   <p>Javascript</p>
   <p>JQuery</p>
    </div>
    <div class="col-md-6">
   <p>APIs</p>
   <p>NodeJS</p>
   <p>Express</p>
   <p>MySQL</p>
   <p>JSON</p>
   <p>NoSQL</p>
    </div>
  </div>
</div>
